html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

header {
    z-index: 5;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/article_header2.jpg");
    background-size: cover;
    background-color: #000;
}

header h1 {
    margin: 0;
    padding: 5% 2% 0 0;
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    border-bottom: 1px solid #fff;
    text-align: right;
    width: 50%;
    text-shadow: 3px 3px 2px #000;
}

header p {
    color: #fff;
    font-size: 1.5em;
    width: 70%;
    text-align: right;
    text-shadow: 3px 3px 2px #000;
}

header span {
    color: #fff;
    position: absolute;
    text-align: right;
    text-shadow: 2px 2px 4px #000;
    font-size: 0.7em;
    font-weight: bold;
}

header .copy {
    bottom: 5px;
    right: 5px;
}

header .info {
    top: 5px;
    right: 5px;
}

article, footer, #tech_stuff {
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    font-family: Georgia,Times,"Times New Roman",serif;
    color: #222;
    text-align: justify;
}

article h3 {
    margin-bottom: 0;
}

article span.show {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    text-decoration:none;
    border-bottom: 1px dotted rgba(99, 9, 9, 0);
    transition: border 1s ease 2s; 
}

article span.show.active {
    border-bottom: 1px dotted rgba(99, 99, 99, 1);
}

article p {
    display: block;
    float: left;
    min-height: 80px;
}

article img {
    float: right;
    max-width: 30%;
    display: block;
}

.visbox {
    margin: 0 auto;
    display: block;
}

.nav_btn {
    position: fixed;
    top: 40vh;
    display: block;
    background: transparent;
    height: 50px;
    width: 50px;
    z-index: 0;
    cursor: pointer;
}

#nav_btn_prev {
    left: 5px;
}

#nav_btn_next {
    right: 5px;
}

.arrow-right {
    width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid grey;
}

.arrow-left {
    display: none;
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right: 40px solid grey; 
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer span {
    display: block;
    margin: 20px;
    padding-bottom: 40px;
}

footer a {
    color: inherit;
}

footer > a {
    font-size: 1.3em;
    padding: 5px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#tech_stuff {
    display: none;
}


/**
    Visualization Container
*/

.visbox  {
    border: 3px solid #444;
}

#visbox {
    width: 1024px;
    height: 1024px;
    margin-top:35px;
}


/**
    Hover effect
*/

.nonempty.weapon_area:hover, .nonempty.weapon_area.hover,
.player_death:hover, .player_death.hover,
.player_death:hover, .player_death.hover,
.footsteps:hover, .footsteps.hover
{
    stroke: yellow;
    stroke-width: 2pt;
}

.player_path:hover, svg .player_path.hover {
     -webkit-filter: drop-shadow( -2pt -2pt 2pt #000 );
             filter: drop-shadow( -2pt -2pt 2pt #000 );
    stroke-width: 4.5pt;
    opacity: 0.75;
}

/**
    Tooltip
*/

#tooltip {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    min-width: 190px;
    min-height: 75px;
    border: 1px solid white;
    border-radius: 12px;
    padding: 4px 8px;
    color: #CDCDCD;
    z-index: 10;
}

#tooltip span {
    color: rgb(243, 219, 167);
    display: block;
    border-bottom: 1px dotted #888;
    margin: 2px;
}

#tooltip table {
    width: 100%;
}

#tooltip tr, td  {
    padding: 0px;
}

#tooltip td:first-child  {
    padding-right: 4pt;
}

#tooltip td:not(:first-child ) {
    color: white;
    text-align: right;
}

td.indent {
    padding-left: 16pt;
}


.hidden {
    display: none;
}