/**
    General Elements
*/

html {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: #151515;
    color: #cdcdcd;
}

section, header {
    margin: auto;
}

footer {
    padding-top: 100px;
    padding-bottom: 80px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

img {
    border-radius: 18px;
}

h1 {
    margin: 0 228px 0 0;
    padding: 2% 0 0 0;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    border-bottom: 1px solid #fff;
    text-align: left;
    text-shadow: 3px 3px 2px #000;
}

h2, h3 {
    margin-top: 4pt;
}

h2 {
    font-size: 1.2em;
}


h3 {
    margin-bottom: 5pt;
    font-size: 13pt;
}


iframe{
    margin-top: 10px;
    border: 3px solid #999;
}

.subsection{
    padding-bottom: 30px;
    border-top: 1px solid #555;
}

.hidden {
    display: none;
}

span.mathy {
    font-family: serif;
    font-style: italic;
    color: #ac9d71;
}

a {
    color: #d3d2a1;
    text-decoration: none;
    border-bottom: 1px dotted #d3d2a1;
}

a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #d3d2a1;
}


/**
    Tool box for exploration
*/

#toolbox {
    color: #aaa;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 226px;
    height: 100%;
    border-left: 1px solid white;
    background-color: rgba(6, 6, 6, 0.75);
    padding-left: 5pt;
    overflow: auto;
}

#toolbox input, label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toolbox div {
    margin: 4pt 0px 6pt 0px;
    padding: 0px;
}

#toolbox label {
    display: inline-block;
    font-family: monospace;
    color: white;
    margin-left: 5pt;
    font-size: 9pt;
}

#toolbox label {
    margin-left: 1pt;
}

#toolbox h4 {
    color: #bcbcbc;
    border-top: 1px dotted #666;
    margin-left: -8pt;
    margin-top: 7pt;
    margin-bottom: 0pt;
    padding-bottom: 3pt;
    padding-left: 8pt;
    padding-top: 3pt;
    font-size: 10pt;
    background-color: rgba(33, 33, 33, 0.5);
}

#toolbox span {
    color: #eaeaea;
    font-size: 9pt;
}

#toolbox .ui-icon {
    float: right;
    margin-right: 12pt;
    cursor: pointer;
}

#toolbox button {
    padding: 0pt 2pt;
}

#tb_display_players {
    text-align: center;
}

#tb_display_players div {
    margin: 0;
}

#tb_display_players_t1 {
    float: left;
}

#tb_display_players_t1 {
    float: left;
    clear: left;
}

#tb_display_sides .ui-button {
    width: 160px;
}


.ui-button  {
    height: 15pt;
}

.wbin_color {
    display: inline-block;
    height: 20pt;
    width: 20pt;
    opacity: 0.6;
}



/**
    Visualization Container
*/

.visbox  {
    border: 3px solid #444;
}

#visbox {
    width: 1024px;
    height: 1024px;
    margin-top:12px;
    margin-right: 240px;
}



/**
    Hover effect
*/

.nonempty.weapon_area:hover,
.player_death:hover,
.shot_fired:hover,
.footsteps:hover
{
    stroke: yellow;
    stroke-width: 2pt;
}

.player_path:hover {
     -webkit-filter: drop-shadow( -2pt -2pt 2pt #000 );
             filter: drop-shadow( -2pt -2pt 2pt #000 );
    stroke-width: 4.5pt;
    opacity: 0.75;
}




/**
    Tooltip
*/

#tooltip {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    min-width: 190px;
    min-height: 75px;
    border: 1px solid white;
    border-radius: 12px;
    padding: 4px 8px;
}

#tooltip span {
    color: rgb(243, 219, 167);
    display: block;
    border-bottom: 1px dotted #888;
    margin: 2px;
}

#tooltip table {
    width: 100%;
}

#tooltip tr, td  {
    padding: 0px;
}

#tooltip td:first-child  {
    padding-right: 4pt;
}

#tooltip td:not(:first-child ) {
    color: white;
    text-align: right;
}

td.indent {
    padding-left: 16pt;
}



/**
    Weapon bar chart
*/

#weapon_visbox{
    margin: 0, auto;
    width:400px;
}
.bar {
  shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    padding: 3px;
    border-radius: 5px;
    margin: 25px 0 0 20px;
}

.show_chart_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    margin-bottom:10px;
}
.show_chart_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.show_chart_btn:active {
    position:relative;
    top:1px;
}


/**
    Table of Contents
*/
#toc {
    color: silver;
    font-size: 0.8em;
    position: fixed;
    right: 8pt;
    top: 0px;
    display: inline-block;
    background-color: #333;
    border: 1px solid black;
    border-top: none;
    padding: 3pt 6pt;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#toc {
    width: 140pt;
}

#toc a {
    color: silver;
    border-bottom: none;
}

#toc a:hover {
    color: white;
    border-bottom: none;
}

#toc span {
    font-weight: bold;
    margin-bottom: 0px;
}

#toc ul {
    margin-top: 0px;
}

#toc span small {
    cursor: pointer;
}

#toc span small:hover {
    color: white;
}