.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    padding: 3px;
    border-radius: 5px;
    margin: 25px 0 0 20px;
}

.tooltip p {
    padding: 0;
    margin: 0;
    font-size: 10;
    color: #fff;
    opacity: 1;
}

section, header {
    max-width: 670px;
    margin: auto;
}

span {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#visbox {
    text-align: center;
    margin-bottom: 8pt;
}

#dim_selection {
    margin-bottom: 3pt;
}

.highlighted {
    fill: yellow;
}