@charset "utf-8";
/* Default Style */

html {
    font-family:    sans-serif;

}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}


td, th {
    padding: 4px 8px;
}

p {
    text-align: justify;
}

img.preview {
    width: 400px;
    float: right;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #454545;
    margin: 18px;
}

div.section {
    border: 1px solid #228822;
    background-color: #88ff88;
    padding: 0px 8px 12px 8px;
    border-radius: 16px;
    margin-bottom: 12px;
}

div.subsection {
    border: 1px solid #228822;
    background-color: #ffffff;
    padding: 0px 8px 12px 8px;
    border-radius: 16px;
    margin-bottom: 12px;
}

ul {
    margin-bottom: 8px;
}

a.vis_page {
    display: inline-block;
    width: auto;
    border: 1px solid black;
    padding: 4px 10px;
    text-decoration: none;
    margin-left: 20px;
    box-shadow: 3px 3px 3px #454545;
}

div.mockup {
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 6px #454545;
}

#toc {
    font-size: 0.8em;
    position: fixed;
    right: 80px;
    top: 0px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding: 3pt 6pt;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#toc span {
    font-weight: bold;
    margin-bottom: 0px;
}

#toc ul {
    margin-top: 0px;
}


