/**
    General Elements
*/

html {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: #151515;
    color: #cdcdcd;
}

section, header {
    max-width: 670px;
    margin: auto;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

img {
    border-radius: 18px;
}

h2, h3 {
    margin-top: 18pt;
}

h2 {
    border-top: 1px solid #ccc;
    border-radius: 14pt;
    width: 720px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 8pt;
}

iframe{
	margin-top: 10px;
	border: 3px solid #999;
}

.subsection{
	padding-bottom: 30px;
	border-top: 1px solid #555;
}

.hidden {
    display: none;
}

span.mathy {
    font-family: serif;
    font-style: italic;
    color: #ac9d71;
}

a {
    color: #d3d2a1;
    text-decoration: none;
    border-bottom: 1px dotted #d3d2a1;
}

a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #d3d2a1;
}

/**
    SVG Elements
*/

svg {
    border: 3px solid #999;
    background-color: #151515;
    margin-bottom: 6pt;
}

.coast {
    fill: none;
    stroke: lime;
    stroke-width: 0.5pt;
}

.street {
    fill: none;
    stroke: silver;
    stroke-width: 0.3pt;
}

.district {
    fill-opacity: 0.4;
    stroke: lime;
    stroke-width: 0.5pt;
}

.police {
    fill: blue;
    stroke: white;
    stroke-width: 0.7pt;
    opacity: 0.6;
}

.popden {
    stroke: none;
    opacity: 0.5;
}

circle.crime {
    fill: orange;
    stroke: yellow;
    stroke-width: 0.5pt;
}

.crime.label {
    font-size: 4pt;
    color: black;
}


/**
    Crime Circle Tooltip
*/
#cctooltip {
    font-size: 10pt;
    color: #ababab;
    position: absolute;
    width: 150px;
    height: 14pt;
    border: 1px solid white;
    background-color: black;
    border-radius: 6px;
    padding: 2pt 4pt;
    opacity: 0.8;
}


/**
    Filter Box
*/

#filter {
    border: 1px solid #333;
    padding: 4pt 8pt;
    font-size: 10pt;
    width: 650px;
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
	margin: auto;
	margin-top: 0px;
}

#filterselection{
    padding: 4pt 8pt;
    width: 650px;
    border: 1px solid #333;
    border-bottom: none;
	margin-top: 15px;
}

#non-crime-layers {
    padding: 4pt 8pt;
    width: 650px;
    border: 1px solid #333;
    margin-top: 12pt;
}

#non-crime-layers div {
    display: inline-block;
    margin-right: 16pt;
}

#togglepolice label {
    color: #008aff;
}

#toggledistricts label {
    color: #0db800;
}

#togglepopdens label {
    color: #f15f38;
}


/**
    Time Range
*/

#timerange {
    margin-top: 16pt;
}

.ui-rangeSlider-label {
    background-color: #333333;
    height: 10pt;
    font-size: 11pt;
    border-radius: 5px;
    
}

.ui-ruler-tick-label {
    text-decoration: none;
    color: black;
    cursor: default;
}

.timerange-month {
    margin-left: -1px;
    font-size: 0.5em;
}

.play_bar {
    background-color: steelblue;
    opacity: 0.7;
}

/**
    Histogram
*/

.tick {
    fill: #fff;
    font-size: 0.6em;
}

.histogram_label {
    fill: #fff;
    font-size: 0.8em;
}

.bar {
  fill: ForestGreen;
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

.histogram_yaxis .domain {
    display: none;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    padding: 3px;
    border-radius: 5px;
    margin: 25px 0 0 20px;
}

.tooltip p {
    padding: 0;
    margin: 0;
    font-size: 10;
    color: #fff;
    opacity: 1;
}


/**
    Table of Contents
*/
#toc {
    color: silver;
    font-size: 0.8em;
    position: fixed;
    right: 8pt;
    top: 0px;
    display: inline-block;
    background-color: #333;
    border: 1px solid black;
    border-top: none;
    padding: 3pt 6pt;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#toc {
    width: 140pt;
}

#toc a {
    color: silver;
    border-bottom: none;
}

#toc a:hover {
    color: white;
    border-bottom: none;
}

#toc span {
    font-weight: bold;
    margin-bottom: 0px;
}

#toc ul {
    margin-top: 0px;
}

#toc span small {
    cursor: pointer;
}

#toc span small:hover {
    color: white;
}