@charset "utf-8";
/* Default Style */


html {
    font-family:    sans-serif;

}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 4px 8px;
}

div.section {
    border: 1px solid #cecece;
    background-color: #eeeeee;
    padding: 0px 8px 12px 8px;
    border-radius: 16px;
    margin-bottom: 12px;
}

div.subsection {
    border: 1px solid #666666;
    background-color: #dddddd;
    padding: 0px 8px 12px 8px;
    border-radius: 16px;
    margin-bottom: 12px;
}

ul {
    margin-bottom: 8px;
}

a.vis_page {
    display: inline-block;
    width: auto;
    border: 1px solid black;
    padding: 4px 10px;
    text-decoration: none;
    margin-left: 20px;
    box-shadow: 3px 3px 3px #454545;
}