.county {
  fill: #edc9af;
  stroke: #000;
  stroke-width: 1pt;
}

#filter {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
	border: 1px solid black;
	background-color: #99CEFE;
}