/**
    Visualization Container
*/

.visbox  {
    width: 664px;
    height: 500px;
    border: 3px solid #444;
    
    background: rgb(45,45,45); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%, rgba(15,15,15,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(15,15,15,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(15,15,15,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(15,15,15,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(15,15,15,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(45,45,45,1) 0%,rgba(15,15,15,1) 100%); /* W3C */
}

#visbox2 {
    margin-bottom: 24pt;
}

p.info {
    line-height: 20px;
}

p.info span {
    font-family: monospace;
}

p.info span:first-child {
    margin-left: 12pt;
}

#v2_coordinates_a {
    color: red;
}

#v2_coordinates_c {
    color: green;
}

#v2_coordinates_s {
    color: blue;
}

/*
    Axis sliders for Visualization 2
*/

.axis_slider {
    position: relative;
    float: left;
}

#axial_slider { /* red */
    left: 418px;
    top: -394px; /* 177px; */
    width: 290px;
    background-color: #aa4444;
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(-90deg);  /* FF3.5+ */
        -ms-transform: rotate(-90deg);  /* IE9 */
         -o-transform: rotate(-90deg);  /* Opera 10.5 */
            transform: rotate(-82.5deg);  
               zoom: 1;
}

#sagittal_slider { /* blue */
    left: 300px;
    top: -136px;
    width: 274px;
    background-color: #4444aa;
    -webkit-transform: rotate(-45deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(-45deg);  /* FF3.5+ */
        -ms-transform: rotate(-45deg);  /* IE9 */
         -o-transform: rotate(-45deg);  /* Opera 10.5 */
            transform: rotate(139deg);  
               zoom: 1;
}

#coronal_slider { /* green */
    left: -228px;
    top: -115px;
    width: 278px;
    background-color: #44aa44;
    -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(45deg);  /* FF3.5+ */
        -ms-transform: rotate(45deg);  /* IE9 */
         -o-transform: rotate(45deg);  /* Opera 10.5 */
            transform: rotate(31deg);  
               zoom: 1;
}


/**
    General Elements
*/

html {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: #151515;
    color: #cdcdcd;
}

section, header {
    max-width: 670px;
    margin: auto;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

img {
    border-radius: 18px;
}

h2, h3 {
    margin-top: 18pt;
}

h2 {
    border-top: 1px solid #ccc;
    border-radius: 14pt;
    width: 700px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 8pt;
}

iframe{
	margin-top: 10px;
	border: 3px solid #999;
}

.subsection{
	padding-bottom: 30px;
	border-top: 1px solid #555;
}

.hidden {
    display: none;
}

span.mathy {
    font-family: serif;
    font-style: italic;
    color: #ac9d71;
}

a {
    color: #d3d2a1;
    text-decoration: none;
    border-bottom: 1px dotted #d3d2a1;
}

a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #d3d2a1;
}



/**
    Visualization controls
*/


.ctrl {
    background-color: none;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ctrl:hover {
    background-color: #444;
}

.ctrl.reset {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 4px;
    margin-left: auto;
    background-image: url("../img/ctrl_reset.png");
    background-size: 24px 24px;
    border-radius: 8px;
}

.ctrl.zoomout {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 4px;
    margin-left: auto;
    background-image: url("../img/zoom_out.png");
    background-size: 24px 24px;
    border-radius: 8px;
}

.ctrl.zoomin {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 4px;
    margin-right: auto;
    background-image: url("../img/zoom_in.png");
    background-size: 24px 24px;
    border-radius: 8px;
}

.ctrl.up {
    height: 16px;
    background-image: url("../img/ctrl_up.png");
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.ctrl.down {
    height: 16px;
    background-image: url("../img/ctrl_down.png");
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ctrl.left {
    height: 506px;   /* set to same as #visbox1 height + 2*border */
    width: 16px;
    margin-left: -16px;
    float: left;
    background-image: url("../img/ctrl_left.png");
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.ctrl.right {
    height: 506px;   /* set to same as #visbox1 height + 2*border */
    margin-top: -506px;   /* set to same as before, just negative */
    width: 16px;
    margin-right: -16px;
    float: right;
    background-image: url("../img/ctrl_right.png");
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


/**
    Table of Contents
*/
#toc {
    color: silver;
    font-size: 0.8em;
    position: fixed;
    right: 8pt;
    top: 0px;
    display: inline-block;
    background-color: #333;
    border: 1px solid black;
    border-top: none;
    padding: 3pt 6pt;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#toc {
    width: 140pt;
}

#toc a {
    color: silver;
    border-bottom: none;
}

#toc a:hover {
    color: white;
    border-bottom: none;
}

#toc span {
    font-weight: bold;
    margin-bottom: 0px;
}

#toc ul {
    margin-top: 0px;
}

#toc span small {
    cursor: pointer;
}

#toc span small:hover {
    color: white;
}